html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

*, ::after, ::before{
    box-sizing: inherit;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.main{
    width: 100%;
    
}

.form_header{
    color: teal;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

.form_amount{
   
    border: 1px solid grey;
    border-radius: 5px;
    width: 60%;
    height: 35px;   
}


.form_text{
    padding:  10px 40px 20px ;
    color: black;
    font-size: 20px;
    clear: both;
}

.form_select{
   
    border: 1px solid grey;
    border-radius: 5px;
    width: 60%;
    height: 35px;
    
}

.form_submit{
    display: flex;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    background-color: teal;
    color: white;
    justify-content: center;
}

.form_result{
    color:teal;
    font-size: 25px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.form_grid{
    display: grid;
    grid-template-columns: 300px 1fr;

}
.paragraph{
    color: grey;
    display: flex;
    justify-content: center;
}



@media (max-width: 600px) {
    .form_grid{
        grid-template-columns:1fr;
        text-align: center;
        
        
    }
}